body, html {
  height: 100%;
}

.bg {
  background-image: url("HOME_IMAGE_2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#MainHeader{
  color:white;
  text-align: center;
}

p3{
//  height:20%;
  color: white;
  font-size:20px;

}

#StuffAboutTheWebsite{
  //text-align:center;
  //height:50%;
  color:white;
  //padding-left: 200px;
  //padding-right: 200px
}

/*footer*/

/*footer{
  width: 100%;
  background-color: #343a40;
  padding: 60px 0px;
}*/
#footer-info{
  position: fixed;
  height: 80px;
  bottom: 0px;
  left:0px;
  right:0px;
  margin-bottom: 30px;
   text-align: center;
   color: #ffffff;
   width: 100%;
   background-color: #343a40;
}
.socials{
<<<<<<< HEAD
  //text-align: center;
  position: fixed;
  height: 80px;
  bottom: 0px;
  left:0px;
  right:0px;
  margin-bottom: 30px;
=======
  position: fixed;
  height: 30px;
  bottom: 0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
>>>>>>> 1fd3c3c08a5abb3389926c1187f8caa5af89f221
   text-align: center;
   color: #ffffff;
   width: 100%;
   background-color: #343a40;
}
.btn-facebook{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-twitter{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-google{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-linkedin{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
.btn-youtube{
  background-color: #217f56;
  text-decoration: none;
  border: #217f56;
}
