<!doctype html>
<html>
<head>

   <% include ../partials/head %>
</head>
<body class="bg">

  <script src="main.js"> </script>
  <header id="MainHeader">
<% include ../partials/header %>
  </header>

  <div class="container">
    <div class="row">
    <div class="col-md-4">
        <section class="firstRow">
          <!---left section-->
          <nav id="leftsection">
            <section id="Addings">
              <p class="search" id="Whatingredientshaveyougot?">What ingredients have you got?</p>
              <section id="wrapper"></section>
              <section class="add-clrButton">
                <button class="button searchbutton" id="schbutton" type="button">SEARCH</button>
                <button class="button clearbutton" id="clrbutton"type="button">CLEAR</button>
              </section>

              <script>
              //Add ingredient box on page load
              addIngredientBox();
              //Add additional ingredient box on click
              $('#Addings').on('click','.add-box',function(){
                $('.form-wrapper').removeClass("add").addClass("remove");
                $('.add-box').removeClass("add-box").addClass("remove-box").text("-");
                addIngredientBox();

              });

              //Remove selected ingredient boxes on click
              $('#Addings').on('click','.remove-box',function(){
                $(this).parents('form').remove();
              });


      //To add ingredient boxes
      function addIngredientBox(){
        var formWrapper= $('<form class="form-wrapper cf add" onsubmit="return false"></form>');
        var textBox=$('<input class="text-box" type="text"placeholder="List ingredients here..">');
        var button=$('<button class="add-box">+</button>');
        $(formWrapper).append(textBox);
        $(formWrapper).append(button);
        $(formWrapper).appendTo($('#wrapper'));
      }
      </script>
      <!---for the search button--->
      <script type="text/javascript">
    jQuery(document).ready(function($){
        //to return box contents
        function getSearchBox(){
          var userInput="";
          $(".form-wrapper input").each(function(){
            userInput+=$(this).val()+',';
          });
          return userInput;
        }

        //run the ingredient search
        $("#schbutton").click(function(){
          console.log("clicked");
          $('.results').remove();
          searchApi(getSearchBox());
        });
        // clear all additional ingredient boxes available
        $("#clrbutton").click(function(){
          $('#wrapper').empty();
          addIngredientBox();
        });
      });
        </script>
        </div>
        <div class="col-md-8" id="placeholderDiv">

        <h2>Sangria</h2>
        <img src="Sangria_google.jpg"alt="cocktail"  height="502" width="753">
        <h2>Martini</h2>
        <img src="Martini_google.jpg"alt="cocktail" height="502" width="753">
        <h2>Mojito</h2>
        <img src="Mojito_pexles.jpg"alt="cocktail" height="502" width="753">
        <script>
        function searchApi(search) {

                            //Create Loading Spinner
                            var opts = {
                                lines: 10, // The number of lines to draw
                                length: 20   , // The length of each line
                                width: 15, // The line thickness
                                radius: 10, // The radius of the inner circle
                                corners: 0, // Corner roundness (0..1)
                                rotate: 0, // The rotation offset
                                color: '#ff6138', // #rgb or #rrggbb
                                speed: 1, // Rounds per second
                                trail: 60, // Afterglow percentage
                                shadow: false, // Whether to render a shadow
                                hwaccel: false, // Whether to use hardware acceleration
                                className: 'spinner', // The CSS class to assign to the spinner
                                zIndex: 2e9, // The z-index (defaults to 2000000000)
                                top: 40, // Top position relative to parent in px
                                left: 25 // Left position relative to parent in px
                            };
                            var target = document.getElementById('ResultArea');
                          //  var spinner = new Spinner(opts).spin(target);
                          var searcString = document.getElementById('ResultArea');

                            $.ajax({
                                url: "https://www.thecocktaildb.com/api/json/v1/1/filter.php?i=Gin",
                                type: "GET",

                                dataType: "json",
                                /**
                                 * @property {string} strDrink
                                 * @property {string} strDrinkThumb
                                 * @property {string} idDrink

                                 */
                                success: function (response) {
                                    console.log(response);
                                    var res = JSON.parse(JSON.stringify(response));
                                    //If results are found create and populate card for each drink
                                    if (res.drinks.length > 0) {
                                        for (var i = 0; i < res.drinks.length; i++) {
                                            var strDrink = res.drinks[i].strDrink;
                                            var strDrinkThumb = res.drinks[i].strDrinkThumb;
                                            var idDrink = res.drinks[i].idDrink;
                                            console.log(strDrink);
                                          //  createCard(strDrink, strDrinkThumb, idDrink);
                                        }
                                        //If no results returned display message and load most popular drinks instead
                                    } else if (res.drinks.length == 0) {
                                        noResultsCard('https://media.giphy.com/media/TydZAW0DVCbGE/giphy-facebook_s.jpg');
                                        searchApi(",");
                                    }

                                  //  spinner.stop();
                                }
                                error: function () {
                                    alert("error");
                                }
                            });
                          }

                        /*end function*/
})

      </script>
    </section>
      </nav>


    </section>
  </div>
</div>
</div>
<!--<div class="bg" id="ResultArea">
  <h2>mine</h2
</div>
    <!--footer-->
    <footer>
    <% include ../partials/footer %>
      </footer>
  </body>




     </html>
