<!doctype html>
<html>
<head>
<% include ../partials/head %>
</head>
<body class="bg">

  <script src="main.js"> </script>
  <header id="MainHeader">
<% include ../partials/header %>
  </header>
  <div class="login-page">
<div class="form">
  <!--placeholder form for a user to get registered-->
  <form class="register-form">
<input type="text" placeholder="Username"/>
<input type="text" placeholder="Email address"/>
<input type="text" placeholder="Password"/>
<button>Create</button>
<p class="message">Already Registered?<a href="#"><u>Login</u></a>
</P>
  </form>
  <!--placeholder form for a returning user to login-->
  <form class="login-form">
<input type="text" placeholder="Username"/>
<input type="password" placeholder="Password"/>
<button>Login</button>
<p class="message">Not Registered?<a href="#"><u>Register</u></a>
</P>
  </form>
</div>
  </div>
  <script>
  $('.message a').click(function(){
    $('form').animate({height:"toggle", opacity: "toggle"}, "slow");
  });
  </script>
</body>
</html>
