<!doctype html>
<html>
<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" type="text/css" href="login.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>

   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <title>
     Pick your Poison
   </title>
</head>
<body class="bg">

  <script src="main.js"> </script>
  <header id="MainHeader">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Pick your Poison</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.ejs">Home <span class="sr-only">(current)</span></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.ejs">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.ejs">Login</a>
          </li>
        <li>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button id="drinkSearch"class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  <div class="login-page">
<div class="form">
  <!--placeholder form for a user to get registered-->
  <form class="register-form">
<input type="text" placeholder="Username"/>
<input type="text" placeholder="Email address"/>
<input type="text" placeholder="Password"/>
<button>Create</button>
<p class="message">Already Registered?<a href="#"><u>Login</u></a>
</P>
  </form>
  <!--placeholder form for a returning user to login-->
  <form class="login-form">
<input type="text" placeholder="Username"/>
<input type="password" placeholder="Password"/>
<button>Login</button>
<p class="message">Not Registered?<a href="#"><u>Register</u></a>
</P>
  </form>
</div>
  </div>
  <script>
  $('.message a').click(function(){
    $('form').animate({height:"toggle", opacity: "toggle"}, "slow");
  });
  </script>
</body>
</html>
