
  <div id="footer-info">
    info@pickyourposion.com<br>
    01345678910<br>
    Moduel CM2104

       </div>

       <div class="socials">
            <a class="btn btn-primary btn-facebook" href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a class="btn btn-primary btn-twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
             <a class="btn btn-primary btn-google" href="#" target="_blank"><i class="fa fa-google"></i></a>
             <a class="btn btn-primary btn-linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-primary btn-youtube" href="#" target="_blank"><i class="fa fa-youtube"></i></a>

       </div>
  
